    <% layout("/layouts/boilerplate") %> 
<body class="bg-light">
  <div class="container col-sm-12 col-lg-6 mt-5">
    <div class="card shadow p-4">
      <h3 class="mb-4 text-center bg-light">Create New Listing</h3>
      <form action="/listings" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
              <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" required  name="listing[title]" placeholder="Title" >
          <div class="valid-feedback">Title looks good!</div>
        </div>
        <div class="mb-3">
           <label for="description" class="form-label">Description</label>
          <textarea class="form-control"  required name="listing[description]" rows="3" placeholder="Enter description"></textarea>
           <div class="invalid-feedback">description should be valid</div>
        </div>
        <!-- <div class="mb-3">
           <label for="image" class="form-label">Image Link</label>
          <input type="text" class="form-control" name="listing[image]" placeholder="Image URL">
        </div> -->
        <div class="mb-3">
           <label for="image" class="form-label">Image </label>
          <input type="file" required class="form-control" name="listing[image]" >
        </div>
        <div class="mb-3">
           <label for="price" class="form-label">Price</label>
          <input class="form-control"  required name="listing[price]" placeholder="1500" required>
          <div class="invalid-feedback">Price should be valid</div>
        </div>
        <div class="mb-3">
          <label for="country" class="form-label">Country</label>
          <input type="text" class="form-control"  name="listing[country]" placeholder="Country" required>
            <div class="invalid-feedback">Country should be valid</div>
        </div>
        <div class="mb-3">
          <label for="city" class="form-label"> Location city</label>
          <input type="text" class="form-control" required   name="listing[location]" placeholder="Jaipur, Rajasthan" required>
           <div class="invalid-feedback">city should be valid</div>
        </div>
        <div class="d-grid">
          <button type="submit" class="btn btn-danger col-2">Add</button>
        </div>
      </form>
    </div>
  </div>
  <script src="/js/script.js"></script>


  