body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.container{
    flex: 1;
}
.navbar{
    height: 5rem;
    background-color: white;
}
.fa-compass{
    color: red;
    font-size: 2rem;
}
.nav-link{
    color: black !important;

}
.listing-link {
    text-decoration: none;
}

/*footer*/
.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links,.f-info-socials,.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.f-info-socials i {
    
    font-size: 1.2rem;
    margin-right: 1rem;
}


.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
   
    justify-content: center;
    align-items: space-evenly;
}


.card{
    height: 100vh;
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important ;
    width: 100% !important;
}
.card-body{
    padding: 0 !important;
}
.card-text p{
    font-weight: 400 !important;

}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}
.show-img{
    height: 40vh;
  
}
.btns{
    display: flex;
}
