 <% layout("/layouts/boilerplate") %> 
<style>
  .row{
    height: 73vh !important;
    width: 100%;
  }
</style>
 <div class="row mt-3">
    <div>
      <h1 class="col-6 offset-3">signup form</h1>
    <div class="col-6 offset-3">
      <form action="/signup" method="POST" novalidate class="needs-validation" novalidate>
        <div class="mb-3">
              <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" required  name="username" placeholder="abcd" id="username" required>
          <div class="valid-feedback"> looks good!</div>
        </div>
          <div class="mb-3">
              <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" required  name="email" placeholder="abcd@.com" id="email" required >
        </div>
        <div class="mb-3">
              <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" required  name="password" placeholder="abcd" id="password" required>
        </div>
        <button class="btn btn-success">SignUp</button>
    </div>
        </div>